mkdocs
mkdocs-material==9.0.6
mkdocs-redirects
mkdocs-git-revision-date-localized-plugin
mkdocs-autorefs

mkdocstrings[python]
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-macros-plugin
mkdocs-section-index
