[data-md-color-scheme="slate"] {
  /* EB colours - main logo colours */
  --eb-blue:   #94BDCF;
  --eb-green:  #A8BD90;
  --eb-red:    #B2666C;

  --md-primary-fg-color:             #1c1e26;
  --md-default-bg-color:             #2F343F;

  --md-typeset-a-color:              var(--eb-blue);
  --md-accent-fg-color:              var(--eb-green);
}
[data-md-color-scheme="default"] {
  /* EB colours - main logo border colours */
  --eb-blue:  #72a4b0;
  --eb-green: #8ca379;
  --eb-red:   #ab5860;

  --md-primary-fg-color:             #1c1e26;

  --md-typeset-a-color:              var(--eb-red);
  --md-accent-fg-color:              var(--eb-green);
}
