---
# documentation: https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: MarkDown linting
on: [push, pull_request]  # yamllint disable-line rule:truthy
permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: MarkdownLint mdl Action
        uses: actionshub/markdownlint@v2.1.2
        with:
          # filter out version-specific/* for now, until we fix all issues that mdl trips over
          filesToIgnoreRegex: "(docs\\/demos\\/.*|docs\\/version-specific\\/.*)"
