---
# documentation: https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: test building of EasyBuild documentation
on: [push, pull_request]  # yamllint disable-line rule:truthy
permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Codespell action
        uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          ignore_words_list: atleast,ninjs,simpy,proovread,namd,precice,crate
          # filter out
          #   docs/js/asciinema-player-2.6.1.js as it is not markdown
          #   version-specific/supported-software.md as the software descriptions have spelling errors
          skip: './docs/js/asciinema-player-2.6.1.js,./docs/version-specific/supported-software.md,./docs/release-notes.md'

      - name: check internal links
        run: python ./.github/workflows/link_check.py

      - name: checkout easybuild framework
        uses: actions/checkout@v3
        with:
          repository: easybuilders/easybuild-framework
          path: src/easybuild-framework
          ref: main

      - name: install mkdocs
        run: |
          pip install -r requirements.txt
          mkdocs --version

      - name: build tutorial
        # can't use --strict due to warnings being produced by mkdocs-redirect plugin
        # because we are re-directing .html pages
        # run: mkdocs build --strict
        run: mkdocs build
