---
name: Yaml Lint
on: [push, pull_request]  # yamllint disable-line rule:truthy
permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yml
